---
layout: layouts/base.njk
title: Formation Musicale
description: "Découvrez les formations musicales, un large choix de cours adaptés à tous les âges et à tous les niveaux, 
  dispensés par des professeurs expérimentés et passionnés. Rejoignez-nous pour vivre votre passion de la musique !"
css: services/formation
---

{% from "components/gallery.njk" import gallery %}

<main class="container">
  <section>
    <h1 class="text-center">Nos Formations Musicales</h1>
    <p class="text-center formation-desc">
      L'école Mélodie & Cie propose un enseignement musical adapté à tous les âges et tous les niveaux.<br>
      Découvrez la liste des instruments que vous pouvez apprendre avec nos professeurs passionnés.
    </p>
    {{ gallery(
      3, 1, instruments | map("gallery")
      ) }}
  </section>

  <section class="section" id="cours-details">
    <h2 class="text-center">Détail des cours par instrument</h2>

    {% for instrument in instruments %}
      <article id="{{ instrument.id }}" class="formation-detail">
        <h3>{{ instrument.emoji }} {{ instrument.name }}</h3>
        <p>
          <strong>Professeur :</strong> {{ instrument.teachers | join(", ") }}<br>
          <strong>Styles :</strong> {{ instrument.styles | join(", ") }}<br>
          <strong>Description :</strong><br>
          {{ instrument.longDescription }}
        </p>
        <a href="/contact" class="btn">Contactez-nous pour {{ instrument.name }}</a>
      </article>
    {% endfor %}
  </section>
</main>